name: Publicar Notícias Diário de Notícias

on:
  schedule:
    - cron: '0 11 * * *' # 08:00 Brasil → POLÍTICA
    - cron: '0 17 * * *' # 14:00 Brasil → GERAIS
  workflow_dispatch:

jobs:
  postar:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          pip install feedparser google-auth google-auth-oauthlib google-api-python-client

      - name: Rodar bot
        run: |
          python run_bot.py
